body{
    background-color: azure;
    color: blueviolet;
}

#first{
    color: blue;
    font-size: larger;
}

#second{
    color: black;
}

li.web-comms{
    color: black;
}

div.header{
    font-size: smaller;
    background-color: black;
}